{% extends "base.html" %}


{% block home %}


<div class="container d-flex justify-content-center  align-items-center" style = "margin-top :20px;">
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title">Create Here</h5> 
        
        <form method = 'POST'> 
            {% csrf_token %} 

            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Computer code</label>
                <input type="textfield" class="form-control" name="computer_code">
            </div>

            <div class="mb-3">
                    <label >Computer</label>
                    <select class="form-control" name="computer">
                        {%for data in computer%}
                        <option value="{{ data.id }}">{{data.brand}}</option>
                        {% endfor %}
                    </select>
            </div>
            
            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Quantatiy </label>
                <input type="number" class="form-control" name="quantity" >
            </div>

            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Unit Rate </label>
                <input type="number" class="form-control" name="unit_rate">
            </div>

        <!--<div class="mb-3" >
                <label for="exampleFormControlSelect1">Total Price </label>
                <input type="textfield" class="form-control" name="totalprice">
            </div> -->

            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary" type="submit" >ADD </button>
            </div>

            
          </form>
  
  

      
    </div>
  
  
</div>










{% endblock %}


