{% extends "base.html" %}


{% block home %}


<div class="container d-flex justify-content-center  align-items-center" style = "margin-top :20px;">
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title">Update Here</h5> 
        
        <form>
            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Computer code</label>
                <input type="textfield" class="form-control" id="computercode">
            </div>

            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Computer</label>
                <input type="textfield" class="form-control" id="computer">
            </div>
            
            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Quantatiy </label>
                <input type="textfield" class="form-control" id="quantatiy">
            </div>

            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Unit Rate </label>
                <input type="textfield" class="form-control" id="unitrate">
            </div>

            <div class="mb-3" >
                <label for="exampleFormControlSelect1">Total Price </label>
                <input type="textfield" class="form-control" id="totalprice">
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary" type="submit">CHANGE </button>
            </div>

            
          </form>
  
  

      
    </div>
  
  
</div>




{% endblock %}


